.content {
  max-width: 720px;
  margin: auto;
}

@font-face {
    font-family: TwitterChirp;
    src: url("https://abs.twimg.com/fonts/v2/chirp-regular-web.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: TwitterChirp;
    src: url("https://abs.twimg.com/fonts/v2/chirp-bold-web.woff") format("woff");
    font-weight: 700;
}


a:link {
    color: #990a2c;
	border-bottom: none;
    text-decoration: underline dotted #990a2c55;
}

a:visited {
	color: #990a2c;
	border-bottom: none;
    text-decoration: underline dotted #990a2c55;
}

a:hover {
	color: #7f0824;
	background-color: #fff5cc;
	border-bottom: none;
}

a:active {
	color: #f00;
}

body {
    font-family: TwitterChirp, sans-serif;
    font-size: 12pt;
    font-style: normal;
    line-height: 150%;
    font-variant-numeric: oldstyle-nums;
}

h1 {
    color: #990a2c;
    font-family: TwitterChirp, sans-serif;
    font-size: 26pt;
    font-weight: 700;
}

b {
    font-family: TwitterChirp, sans-serif;
    font-weight: 700;
}

.column {
  float: left;
  width: 50%;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.keywords{
    max-width: 720px;
    margin: auto;
    font-size: 12pt;
    line-height: 100%;
}

#heart{
  margin: 1px 2px -3px 2px;
  width: 16px;
  height: 16px;
  fill: #ff2250;
}